<h1> Edit this coffee! </h1>

<%= form_for @bean do |f| %>
	Name: <%= f.text_field :name, placeholder: "Name" %>
	<%= f.text_field :roast, placeholder: "Roast" %>
	<%= f.text_field :origin, placeholder: "Origin" %>
	<%= f.number_field :quantity, placeholder: "Quantity" %>

	<%= f.submit "Edit beans!" %>

<% end %>

<%= link_to "Back to list!", beans_path %>