<h1> <%= @bean.name %></h1>

<p> This coffee is a <%= @bean.roast %> roast from <%= @bean.origin%>, and we have <%= @bean.quantity %> pounds in stock. </p>

<%= link_to "Back to the list!", beans_path %>